<div class="p-[2rem] w-[90%] m-auto">

    <div class="grid grid-cols-3">
        <div class="col-span-2 grid grid-cols-4 gap-[2rem]">

            <div class="grid col-span-1">
                <div>
                    <img src="/assets/images/single-product-small.png" alt="">
                </div>
                <div>
                    <img src="/assets/images/single-product-small.png" alt="">
                </div>
                <div>
                    <img src="/assets/images/single-product-small.png" alt="">
                </div>

            </div>
            <div class="col-span-3">
                <img src="/assets/images/single-product-big.png" alt="">
            </div>


        </div>
        <div class="col-span-1">
            <p>NATIVE</p>

            <p class="text-[48px] font-[600] leading-[56px]">Men Black Kaftan Fitted Style</p>

            <div class="grid gap-[0.5rem]">
                <div class="grid grid-cols-3">
                    <div class="col-span-1">
                        <div class="border border-[grey] p-[0.8rem]">Style</div>
                    </div>
                    <div class="col-span-2">
                        <div class="border border-[grey] p-[0.8rem]">Style</div>

                    </div>
                </div>

                <div class="grid grid-cols-3">
                    <div class="col-span-1">
                        <div class="border border-[grey] p-[0.8rem]">Style</div>
                    </div>
                    <div class="col-span-2">
                        <div class="border border-[grey] p-[0.8rem]">Style</div>

                    </div>
                </div>

                <div class="grid grid-cols-3">
                    <div class="col-span-1">
                        <div class="border border-[grey] p-[0.8rem]">Style</div>
                    </div>
                    <div class="col-span-2">
                        <div class="border border-[grey] p-[0.8rem]">Style</div>

                    </div>
                </div>

                <div class="grid grid-cols-3">
                    <div class="col-span-1">
                        <div class="border border-[grey] p-[0.8rem]">Style</div>
                    </div>
                    <div class="col-span-2">
                        <div class="border border-[grey] p-[0.8rem]">Style</div>

                    </div>
                </div>

                <div class="grid grid-cols-3">
                    <div class="col-span-1">
                        <div class="border border-[grey] p-[0.8rem]">Style</div>
                    </div>
                    <div class="col-span-2">
                        <div class="border border-[grey] p-[0.8rem]">Style</div>

                    </div>
                </div>

                <div class="grid grid-cols-3">
                    <div class="col-span-1">
                        <div class="border border-[grey] p-[0.8rem]">Style</div>
                    </div>
                    <div class="col-span-2">
                        <div class="border border-[grey] p-[0.8rem]">Style</div>

                    </div>
                </div>
            </div>

            <div class="flex gap-[2rem] mt-[3rem]">
                <div>
                    <p class="uppercase">Quantity</p>
                    <div class="border border-[#cfcece] bg-[#fff] flex justify-around gap-[1rem]">
                        <div (click)="removeCount(product.productId)"
                            class="text-[16px] p-[0.5rem] cursor-pointer flex justify-center items-center"><img
                                src="/assets/icons/remove.png" alt=""></div>
                        <div class="text-[16px] p-[0.5rem] text-[grey]">0</div>
                        <div (click)="addCount(product.productId)"
                            class="text-[16px] p-[0.5rem] cursor-pointer flex justify-center items-center"><img
                                src="/assets/icons/add.png" alt=""></div>
                    </div>
                </div>

                <div class="flex justify-center items-center flex-col">
                    <p class="uppercase">price total</p>
                    <p class="text-[30px] font-[600] p-[0.5rem]">N40,000</p>
                </div>
            </div>

            <div class="mt-[2rem] flex gap-[2rem]">
                <div class="bg-[#000] p-[1rem] px-[2rem]  text-[#fff] uppercase font-[500] cursor-pointer">Add to cart
                </div>
                <div class="p-[1rem] border px-[2rem] border-[#000] text-[#82848B] uppercase font-[500] cursor-pointer">
                    BUY NOW</div>

            </div>





        </div>
    </div>
    <div class="mt-[5rem] border-t  border-t-[lightgrey] pt-[2rem]">
        <p class="text-[30px]">DESCRIPTION</p>

        <p>Elevate your style with our Plain Kaftan for Men, a timeless classic that embodies simplicity, sophistication, and versatility. Crafted from a combination of Senator and Guinea fabrics, this kaftan is a symbol of high-quality craftsmanship and exquisite materials.</p>

        <p>With our Plain Kaftan for Men in black, you're not just wearing an outfit; you're making a statement. Its versatility, timeless design, and impeccable craftsmanship ensure  turn heads at any event, whether it's a grand gala, a laid-back gathering, or a wedding celebration. Choose the perfect size and sleeve length, and make this classic piece your own. Emanate confidence, style, and class with every step in our Plain Kaftan.</p>


    </div>

    <div class="mt-[5rem] border-t  border-t-[lightgrey] pt-[2rem]">
        <p class="text-[30px]">Reviews (0)</p>

    </div>
</div>