<div class="p-[2rem] w-[90%] m-auto">

    <div class="grid grid-cols-3">
        <div class="col-span-2 grid grid-cols-4 gap-[2rem]">

            <div class="grid col-span-1">
                <div>
                    <img [src]="'data:image/png;base64,' + singleProduct.productImage" alt="">
                </div>
                <div>
                    <img [src]="'data:image/png;base64,' + singleProduct.productImage" alt="">
                </div>
                <div>
                    <img [src]="'data:image/png;base64,' + singleProduct.productImage" alt="">
                </div>

            </div>
            <div class="col-span-3">
                <img src="/assets/images/single-product-big.png" alt="">
            </div>


        </div>
        <div class="col-span-1">
            <p>{{singleProduct.category}}</p>

            <p class="text-[48px] font-[600] leading-[56px]">{{singleProduct.name}}</p>

            <div class="grid gap-[0.5rem]">
                <div class="grid grid-cols-3">
                    <div class="col-span-1">
                        <div class="border border-[grey] h-[3rem] m-auto  flex items-center">name</div>
                    </div>
                    <div class="col-span-2">
                        <div class="border border-[grey] h-[3rem] m-auto  flex items-center">{{singleProduct.name}}</div>

                    </div>
                </div>

                <div class="grid grid-cols-3">
                    <div class="col-span-1">
                        <div class="border border-[grey] h-[3rem] m-auto  flex items-center">Category</div>
                    </div>
                    <div class="col-span-2">
                        <div class="border border-[grey] h-[3rem] m-auto  flex items-center">{{singleProduct.category}}</div>

                    </div>
                </div>

                <div class="grid grid-cols-3">
                    <div class="col-span-1">
                        <div class="border border-[grey] h-[3rem] m-auto  flex items-center">Vendor</div>
                    </div>
                    <div class="col-span-2">
                        <div class="border border-[grey] h-[3rem] m-auto  flex items-center">{{singleProduct.vendorId}}</div>

                    </div>
                </div>

                <div class="grid grid-cols-3">
                    <div class="col-span-1">
                        <div class="border border-[grey] h-[3rem] m-auto  flex items-center">Quantity</div>
                    </div>
                    <div class="col-span-2">
                        <div class="border border-[grey] h-[3rem] m-auto  flex items-center">{{singleProduct.outOfStock ? "Out of stock" : singleProduct.quantity}}</div>

                    </div>
                </div>

                <div class="grid grid-cols-3">
                    <div class="col-span-1">
                        <div class="border border-[grey] h-[3rem] m-auto  flex items-center">Unit Price</div>
                    </div>
                    <div class="col-span-2">
                        <div class="border border-[grey] h-[3rem] m-auto  flex items-center">{{singleProduct.amount}}</div>

                    </div>
                </div>

                <div class="grid grid-cols-3">
                    <div class="col-span-1">
                        <div class="border border-[grey] h-[3rem] m-auto  flex items-center">Style</div>
                    </div>
                    <div class="col-span-2">
                        <div class="border border-[grey] h-[3rem] m-auto  flex items-center">Style</div>

                    </div>
                </div>
            </div>

            <div class="flex gap-[2rem] mt-[3rem]">
                <div>
                    <p class="uppercase">Quantity</p>
                    <div class="border border-[#cfcece] bg-[#fff] flex justify-around gap-[1rem]">
                        <div (click)="removeCount()"
                            class="text-[16px] p-[0.5rem] cursor-pointer flex justify-center items-center"><img
                                src="/assets/icons/remove.png" alt=""></div>
                        <div class="text-[16px] p-[0.5rem] text-[grey]">{{count}}</div>
                        <div (click)="addCount()"
                            class="text-[16px] p-[0.5rem] cursor-pointer flex justify-center items-center"><img
                                src="/assets/icons/add.png" alt=""></div>
                    </div>
                </div>

                <div class="flex justify-center items-center flex-col">
                    <p class="uppercase">price total</p>
                    <p class="text-[30px] font-[600] p-[0.5rem]">N {{totalAmount}}</p>
                </div>
            </div>

            <div class="mt-[2rem] flex gap-[2rem]">
                <div (click)="addToCart()" class="bg-[#000] p-[1rem] px-[2rem]  text-[#fff] uppercase font-[500] cursor-pointer">Add to cart
                </div>
                <div class="p-[1rem] border px-[2rem] border-[#000] text-[#82848B] uppercase font-[500] cursor-pointer">
                    BUY NOW</div>

            </div>





        </div>
    </div>
    <div class="mt-[5rem] border-t  border-t-[lightgrey] pt-[2rem]">
        <p class="text-[30px]">DESCRIPTION</p>

        <p>{{singleProduct.longDescription}}</p>


    </div>

    <div class="mt-[5rem] border-t  border-t-[lightgrey] pt-[2rem]">
        <p class="text-[30px]">Reviews (0)</p>

    </div>
</div>