<div class="grid grid-cols-2 ">
    <div>
        <ngx-charts-pie-chart [scheme]="colorScheme" [results]="single" [legend]="showLegend" [labels]="showLabels"
            [doughnut]="doughnut" [gradient]="gradient">
        </ngx-charts-pie-chart>
    </div>
    <div>
        <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
    </div>
</div>
