<div class="w-full h-fit bg-[#fff]">
    <div class="grid gap-[2rem] m-auto w-[80%] p-[2rem]">
        <div class="flex justify-between shadow-md p-[2rem] rounded-sm">
            <div class="flex gap-[2rem]">
                <div class="w-[100px] skeleton h-[100px]"></div>
                <div class="flex justify-between flex-col">
                    <div class="skeleton h-6 w-[200px]"></div>
                    <div class="font-extrabold text-[16px] skeleton h-6 w-[100px]"></div>
                </div>
            </div>
            <div class="grid gap-[1rem]">
                <div class="bg-[#666666] p-[1rem] h-[40px] text-[#fff] cursor-pointer skeleton w-[100px]"></div>
                <div class="flex gap-[2rem]">
                    <div class="cursor-pointer skeleton w-[30px] h-[30px]"></div>
                    <div class="cursor-pointer skeleton w-[30px] h-[30px]"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-end">
        <div class="mt-[4rem] bg-[#fff] flex p-[1rem] justify-end">
            <div class="flex items-center gap-[2rem]">
                <div class="p-[1rem] py-[0.5rem] flex items-center bg-[#fff] rounded-[12px] skeleton h-[40px] w-[150px]"></div>
                <div class="skeleton h-[20px] w-[100px]"></div>
                <div class="flex justify-end gap-[2rem] md:mr-[2rem]">
                    <div class="p-[1rem] py-[0.5rem] rounded-[4px] skeleton h-[30px] w-[30px]"></div>
                    <div class="p-[1rem] py-[0.5rem] rounded-[4px] skeleton h-[30px] w-[30px]"></div>
                </div>
            </div>
        </div>
    </div>
</div>

