<div
  class="bg-cover bg-center min-h-screen"
  style="background-image: url('assets/images/stitch-backg.png')"
>
  <div>
    <app-navbar></app-navbar>
  </div>
  <div class="text-black px-12 py-[130px] font-medium font-sans">
    <p class="text-6xl leading-tight">
      First online 
      <br />
      made-to-measure
      <br />
      clothing marketplace
    </p>
    <p class="text-1xl leading-normal">
      Connect to different tailors, browse their 
      <br />
      designs and place orders for clothes that fit your 
      <br />
      style, everyday use and events at varying prices without
      <br />
      leaving the comfort of your homes.
    </p>
    <span class="bg-[#373636] flex items-center rounded inline-block w-[180px]">
      <button class="text-white px-8 py-2">Get Started</button>
      <img
        src="assets/icons/Arrow 1.png"
        alt="Product Image"
        class="w-12 h-auto"
      />
    </span>
  </div>
</div>

<app-product-list></app-product-list>
<app-footer></app-footer>
