<div
  class="bg-cover bg-center min-h-screen"
  style="background-image: url('assets/images/stitch-backg.png')"
>
  <div>
    <app-navbar></app-navbar>
  </div>
  <div class="text-black px-12 py-[130px] font-medium font-sans">
    <p class="text-6xl leading-tight">
      First made to measure
      <br />
      online clothing tailor
      <br />
      market platform
    </p>
    <p class="text-1xl leading-normal">
      Browse from our different styles that suits your
      <br />
      everyday needs, doesn't leave your pocket empty and
      <br />
      saves time spent visiting tailor shops.
    </p>
    <span class="bg-[#373636] flex items-center rounded inline-block w-[180px]">
      <button class="text-white px-8 py-2">Get Started</button>
      <img
        src="assets/icons/Arrow 1.png"
        alt="Product Image"
        class="w-12 h-auto"
      />
    </span>
  </div>
</div>

<app-product-list></app-product-list>
<app-footer></app-footer>
