<div class="h-[100vh] flex justify-center items-center bg-no-repeat bg-cover">
    <div class="grid bg-white relative rounded-[32px] p-[1rem]">
        <div class="py-[1rem] p-[1rem] md:px-[2rem] w-full flex justify-center">
            <div class="flex justify-between flex-col items-center">
                <div class="m-auto">
                    <div class="font-[DM Sans] text-center font-[700] text-[35px] tracking-[0.2rem] text-[#000] leading-[40px]">Verify your email</div>
                    <p class="text-[16px] font-[DM Sans] text-center text-[#A3AED0] mx-0 mt-[10px] mb-[90px] leading-[35px]">Enter a valid email to get OTP</p>

                    <form class="text-[#2B3674]" [formGroup]="verificationForm" (ngSubmit)="onSubmit()">
                        <div class="w-full mb-[4rem]"
                            [ngClass]="{'has-error': !formData['emailAddress'].valid && formData['emailAddress'].touched}">
                            <label class="" for="fname">Email*</label>
                            <div class="border-none " *ngIf="formData['emailAddress'].touched && formData['emailAddress'].errors">
                                <div class="shadow-none border-none  text-[red] text-[12px]"
                                    *ngIf="formData['emailAddress'].errors['required']">
                                    The Email is required
                                </div>
                                <div class="shadow-none text-[red]" *ngIf="formData['emailAddress'].errors['pattern']">
                                    The Email is not valid
                                </div>
                            </div>
                            <div class="rounded-[8px] border px-[0.5rem] py-[1.3rem] flex mb-[10px]">
                                <input class=" border-none shadow-none outline-none w-[40rem] p-[0.5rem]" type="text"
                                    placeholder="mail@simmmple.com" name="emailAddress" formControlName="emailAddress">
                            </div>
                        </div>

                        <button type="submit" [disabled]="isLoading"
                        [ngClass]="{'opacity-[50%]': !verificationForm.valid }"
                            class="w-full flex justify-center gap-6 text-white mx-0 my-4 pl-2 pr-[8px,] py-[10px,] p-[1.5rem] rounded-[8px] border-[none] bg-[#000]">
                            <span>Verify</span>
                            <span *ngIf="isLoading" class="spinner"></span>
                        </button>

                    </form>
                </div>

            </div>

        </div>
    </div>

</div>




<div *ngIf="showModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-[90%] my-6 mx-auto md:w-[35%]">
        <div
            class="border-0 rounded-[2rem] shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <div class="grid place-items-center items-center p-[4rem] w-full">
                <div class="flex justify-end w-full">
                    <span class="cursor-pointer" (click)="toggleModal()"><img src="/assets/images/x.png" alt=""></span>
                </div>
                <div class="py-[2rem] grid gap-[1rem]">
                    <div class="text-center font-[DM Sans] font-[700] text-[24px] text-[#000] leading-[40px] text-center">OTP Verifcation</div>
                    <div class="text-center">Enter the verification code we just sent to your email address</div>
                </div>
                <div class="grid gap-[1rem] mt-[2rem] items-center place-items-center">
                    <ngx-otp-input [config]="otpInputConfig" 
                        (fill)="handleFillEvent($event)">
                    </ngx-otp-input>
                    <div class="flex">
                        <span>Didn't received code? </span> <a href=""
                            class="text-[#7B57FC] underline">Resend</a>
                    </div>
                </div>

            </div>
            <div class="flex items-center justify-end p-6 rounded-b">
            </div>
        </div>
    </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>

<ng-toast></ng-toast>




