.my-super-class {
    /* Adjust the width and height of the input fields as per your requirement */
    width: 140px !important; /* Set the width */
    height: 140px !important; /* Set the height */
    font-size: 20px !important; /* Set the font size */
    
}

// ngx-otp-input {
//     width: 300px !important; /* Set the width */
//     height: 300px !important; /* Set the height */
//     font-size: 20px !important; /* Set the font size */
//     padding: 4rem;
//     .my-new-special-class {
//         width: 300px !important; /* Set the width */
//         height: 300px !important; /* Set the height */
//         font-size: 20px !important; /* Set the font size */
//     padding: 4rem;

//     }
//   }