<div class=" outline-none focus:outline-none ">
    <div class="relative w-full my-6 mx-auto ">
        <div class="grid gap-[2rem] border-0 shadow-lg relative w-full  outline-none focus:outline-none">
            <div class="grid  place-items-center items-center w-full">
                <!-- <div class="flex justify-end w-full">
                    <span class="cursor-pointer"><img class="h-[20px]" src="/assets/images/x.png" alt=""></span>
                </div> -->

                <div class="w-full grid gap-[1rem] items-center place-items-center">

                    <div class=" w-full flex justify-center">
                        <div class="w-full">
                            <div class=" flex justify-center">
                                <div class="border w-full ">
                                    <div class="  gap-[2rem] grid grid-cols-3">

                                        <form class="col-span-2 " [formGroup]="productForm" (ngSubmit)="onSubmit()"
                                            action="">



                                            <div class="bg-[#fff] p-[4rem] grid grid-cols-2 gap-[3rem] col-span-2">


                                                <div class="w-full"
                                                    [ngClass]="{'has-error': !formData['name'].valid && formData['name'].touched}">
                                                    <div class="border-none "
                                                        *ngIf="formData['name'].touched && formData['name'].errors">
                                                        <div class="shadow-none border-none  text-[red]"
                                                            *ngIf="formData['name'].errors['required']">
                                                            Name is required
                                                        </div>
                                                        <div class="shadow-none text-[red]"
                                                            *ngIf="formData['name'].errors['pattern']">
                                                            Name is not valid
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="rounded-[8px] bg-[#f1f1f1] px-[0.5rem] py-[1.3rem] flex justify-between mb-[10px]">
                                                        <input
                                                            class=" border-none shadow-none bg-transparent outline-none w-[40rem] p-[0.5rem]"
                                                            type="text" placeholder="Product Name" name="name"
                                                            formControlName="name">
                                                    </div>
                                                </div>




                                                <div class="w-full"
                                                    [ngClass]="{'has-error': !formData['shortDescription'].valid && formData['shortDescription'].touched}">
                                                    <!-- <label class="" for="fname">Phone Number*</label> -->
                                                    <div class="border-none "
                                                        *ngIf="formData['shortDescription'].touched && formData['shortDescription'].errors">
                                                        <div class="shadow-none border-none  text-[red]"
                                                            *ngIf="formData['shortDescription'].errors['required']">
                                                            Short description is required
                                                        </div>
                                                        <div class="shadow-none text-[red]"
                                                            *ngIf="formData['shortDescription'].errors['pattern']">
                                                            Short description is not valid
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="rounded-[8px] bg-[#f1f1f1] px-[0.5rem] py-[1.3rem] flex justify-between mb-[10px]">


                                                        <textarea id="countries" formControlName="shortDescription"
                                                            placeholder="Short Description" name="shortDescription"
                                                            class="outline-none bg-transparent text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">

                                                    </textarea>
                                                    </div>
                                                </div>



                                                <div class="w-full"
                                                    [ngClass]="{'has-error': !formData['category'].valid && formData['category'].touched}">
                                                    <!-- <label class="" for="fname">Phone Number*</label> -->
                                                    <div class="border-none "
                                                        *ngIf="formData['category'].touched && formData['category'].errors">
                                                        <div class="shadow-none border-none  text-[red]"
                                                            *ngIf="formData['category'].errors['required']">
                                                            Phone Number is required
                                                        </div>
                                                        <div class="shadow-none text-[red]"
                                                            *ngIf="formData['category'].errors['pattern']">
                                                            Phone Number is not valid
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="rounded-[8px] bg-[#f1f1f1] px-[0.5rem] py-[1.3rem] flex justify-between mb-[10px]">


                                                        <select id="countries" formControlName="category"
                                                            name="category"
                                                            class="outline-none bg-transparent text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                                            <option selected>Category 1</option>
                                                            <option value="MEN">Men's wear</option>
                                                            <option value="WOMEN">Women's wear</option>
                                                        </select>
                                                    </div>
                                                </div>



                                                <div class="w-full"
                                                    [ngClass]="{'has-error': !formData['longDescription'].valid && formData['longDescription'].touched}">
                                                    <!-- <label class="" for="fname">Phone Number*</label> -->
                                                    <div class="border-none "
                                                        *ngIf="formData['longDescription'].touched && formData['longDescription'].errors">
                                                        <div class="shadow-none border-none  text-[red]"
                                                            *ngIf="formData['longDescription'].errors['required']">
                                                            Category is required
                                                        </div>
                                                        <div class="shadow-none text-[red]"
                                                            *ngIf="formData['longDescription'].errors['pattern']">
                                                            Category is not valid
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="rounded-[8px] bg-[#f1f1f1] px-[0.5rem] py-[1.3rem] flex justify-between mb-[10px]">


                                                        <textarea id="countries" formControlName="longDescription"
                                                            placeholder="Long Description" name="longDescription"
                                                            class="outline-none bg-transparent h-[8rem] text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">

                                                        </textarea>
                                                    </div>
                                                </div>

                                                <div class="w-full"
                                                    [ngClass]="{'has-error': !formData['sellingPrice'].valid && formData['sellingPrice'].touched}">
                                                    <!-- <label class="" for="fname">Phone Number*</label> -->
                                                    <div class="border-none "
                                                        *ngIf="formData['sellingPrice'].touched && formData['sellingPrice'].errors">
                                                        <div class="shadow-none border-none  text-[red]"
                                                            *ngIf="formData['sellingPrice'].errors['required']">
                                                            sellingPrice is required
                                                        </div>
                                                        <div class="shadow-none text-[red]"
                                                            *ngIf="formData['sellingPrice'].errors['pattern']">
                                                            sellingPrice is not valid
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="rounded-[8px] bg-[#f1f1f1] px-[0.5rem] py-[1.3rem] flex justify-between mb-[10px]">
                                                        <input
                                                            class=" border-none shadow-none bg-transparent outline-none w-[40rem] p-[0.5rem]"
                                                            type="text" placeholder="Selling Price" name='sellingPrice'
                                                            formControlName='sellingPrice'>
                                                    </div>
                                                </div>

                                                <div class="w-full"
                                                    [ngClass]="{'has-error': !formData['readyIn'].valid && formData['readyIn'].touched}">
                                                    <!-- <label class="" for="fname">Phone Number*</label> -->
                                                    <div class="border-none "
                                                        *ngIf="formData['readyIn'].touched && formData['readyIn'].errors">
                                                        <div class="shadow-none border-none  text-[red]"
                                                            *ngIf="formData['readyIn'].errors['required']">
                                                            Ready In is required
                                                        </div>
                                                        <div class="shadow-none text-[red]"
                                                            *ngIf="formData['readyIn'].errors['pattern']">
                                                            Ready in not valid
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="rounded-[8px] bg-[#f1f1f1] px-[0.5rem] py-[1.3rem] flex justify-between mb-[10px]">
                                                        <input
                                                            class=" border-none shadow-none bg-transparent outline-none w-[40rem] p-[0.5rem]"
                                                            type="text" placeholder="Product Name" name='readyIn'
                                                            formControlName='readyIn'>
                                                    </div>
                                                </div>


                                                <div class="w-full"
                                                    [ngClass]="{'has-error': !formData['discount'].valid && formData['discount'].touched}">
                                                    <!-- <label class="" for="fname">Phone Number*</label> -->
                                                    <div class="border-none "
                                                        *ngIf="formData['discount'].touched && formData['discount'].errors">
                                                        <div class="shadow-none border-none  text-[red]"
                                                            *ngIf="formData['discount'].errors['required']">
                                                            Name is required
                                                        </div>
                                                        <div class="shadow-none text-[red]"
                                                            *ngIf="formData['discount'].errors['pattern']">
                                                            Name is not valid
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="rounded-[8px] bg-[#f1f1f1] px-[0.5rem] py-[1.3rem] flex justify-between mb-[10px]">
                                                        <input
                                                            class=" border-none shadow-none bg-transparent outline-none w-[40rem] p-[0.5rem]"
                                                            type="text" placeholder="Discount" name='discount'
                                                            formControlName='discount'>
                                                    </div>
                                                </div>


                                                <div class="w-full"
                                                    [ngClass]="{'has-error': !formData['expiryDate'].valid && formData['expiryDate'].touched}">
                                                    <!-- <label class="" for="fname">Phone Number*</label> -->
                                                    <div class="border-none "
                                                        *ngIf="formData['expiryDate'].touched && formData['expiryDate'].errors">
                                                        <div class="shadow-none border-none  text-[red]"
                                                            *ngIf="formData['expiryDate'].errors['required']">
                                                            expiryDate is required
                                                        </div>
                                                        <div class="shadow-none text-[red]"
                                                            *expiryDate="formData['expiryDate'].errors['pattern']">
                                                            expiryDate is not valid
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="rounded-[8px] bg-[#f1f1f1] px-[0.5rem] py-[1.3rem] flex justify-between mb-[10px]">
                                                        <input
                                                            class=" border-none shadow-none bg-transparent outline-none w-[40rem] p-[0.5rem]"
                                                            type="text" placeholder="Expiry Date" name="expiryDate"
                                                            formControlName="expiryDate">
                                                    </div>
                                                </div>


                                                <div class="w-full"
                                                    [ngClass]="{'has-error': !formData['materialUsed'].valid && formData['materialUsed'].touched}">
                                                    <!-- <label class="" for="fname">Phone Number*</label> -->
                                                    <div class="border-none "
                                                        *ngIf="formData['materialUsed'].touched && formData['materialUsed'].errors">
                                                        <div class="shadow-none border-none  text-[red]"
                                                            *ngIf="formData['materialUsed'].errors['required']">
                                                            materialUsed is required
                                                        </div>
                                                        <div class="shadow-none text-[red]"
                                                            *materialUsed="formData['materialUsed'].errors['pattern']">
                                                            Name is not valid
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="rounded-[8px] bg-[#f1f1f1] px-[0.5rem] py-[1.3rem] flex justify-between mb-[10px]">
                                                        <input
                                                            class=" border-none shadow-none bg-transparent outline-none w-[40rem] p-[0.5rem]"
                                                            type="text" placeholder="Material Used" name="materialUsed"
                                                            formControlName="materialUsed">
                                                    </div>
                                                </div>
                                                <!-- <div class="w-full">
                                                    <button type="button" class="p-[1rem] bg-[#cef6ce] rounded-[8px]">
                                                        submit</button>
                                                </div> -->

                                                <div class="w-full">
                                                    <button type="submit"
                                                        class="p-[1rem] bg-[#cef6ce] rounded-[8px]">submit</button>
                                                </div>

                                            </div>
                                        </form>

                                        <div class="col-span-1">
                                            <div class="col-span-1 w-full px-[2rem]">
                                                <div class="w-full h-[30rem] mb-[2rem]">
                                                    <div class="w-full"
                                                        [ngClass]="{'has-error': !formData['image1'].valid && formData['image1'].touched}">
                                                        <div class="border-none "
                                                            *ngIf="formData['image1'].touched && formData['image1'].errors">
                                                            <div class="shadow-none border-none  text-[red]"
                                                                *ngIf="formData['image1'].errors['required']">
                                                                Phone Number is required
                                                            </div>
                                                            <div class="shadow-none text-[red]"
                                                                *ngIf="formData['image1'].errors['pattern']">
                                                                Phone Number is not valid
                                                            </div>
                                                        </div>
                                                        <label for="productImage"
                                                            class="rounded-[8px] bg-[#f1f1f1] h-[32rem] px-[0.5rem] py-[1.3rem] w-full mb-[10px]">
                                                            <div class="grid  h-full">

                                                                <div
                                                                    class="w-full flex flex-col justify-center gap-[1rem] font-[200]">
                                                                    <div
                                                                        class="flex justify-center items-center w-full mb-[2rem]">
                                                                        <img src="/assets/icons/Image-placeHolder.png"
                                                                            alt="">
                                                                    </div>
                                                                    <div
                                                                        class="flex justify-center items-center w-full gap-[2rem]">
                                                                        <img src="/assets/icons/fi_upload-cloud.png"
                                                                            alt="">
                                                                        <span class="text-[#5570F1] text-[20px]">Upload
                                                                            Image</span>
                                                                    </div>
                                                                    <div class="text-center text-[#8B8D97] text-[14px]">
                                                                        Upload a cover image for your
                                                                        product.</div>
                                                                    <div class="text-center text-[#8B8D97] text-[14px]">
                                                                        File Format jpeg, png Recommened
                                                                        Size 600x600 (1:1)</div>
                                                                </div>

                                                            </div>


                                                            <!-- <input id="files"
                                                                class="bg-[#f1f1f1] w-full h-full hidden  outline-none p-[1.5rem] rounded-[4px] border-none shadow-none bg-transparent"
                                                                type="file" placeholder="mail@simmmple.com"
                                                                name="image1" formControlName="image1"> -->

                                                            <!-- <form [formGroup]="profileImageForm" (ngSubmit)="onSubmitProfileImage()"> -->

                                                            <!-- <label for="profileImage">Profile Image:</label> -->
                                                            <input
                                                                class="bg-[#f1f1f1] w-full h-full hidden  outline-none p-[1.5rem] rounded-[4px] border-none shadow-none bg-transparent"
                                                                type="file" id="productImage"
                                                                (change)="onFileSelected($event)"
                                                                [(ngModel)]="productImage" required>

                                                            <!-- <button type="submit">Submit</button> -->
                                                            <!-- </form> -->

                                                        </label>
                                                    </div>

                                                </div>

                                                <p>Additional Images</p>
                                                <div class="w-full h-[15rem] grid gap-[2rem] grid-cols-2">

                                                    <div class="w-full"
                                                        [ngClass]="{'has-error': !formData['image2'].valid && formData['image2'].touched}">
                                                        <div class="border-none "
                                                            *ngIf="formData['image2'].touched && formData['image2'].errors">
                                                            <div class="shadow-none border-none  text-[red]"
                                                                *ngIf="formData['image2'].errors['required']">
                                                                Phone Number is required
                                                            </div>
                                                            <div class="shadow-none text-[red]"
                                                                *ngIf="formData['image2'].errors['pattern']">
                                                                Phone Number is not valid
                                                            </div>
                                                        </div>
                                                        <label for="files"
                                                            class="rounded-[8px] bg-[#f1f1f1] h-[16rem] px-[0.5rem] py-[1.3rem] w-full mb-[10px]">
                                                            <div class="grid  h-full">

                                                                <div
                                                                    class="w-full flex flex-col justify-center gap-[1rem] font-[200]">
                                                                    <div
                                                                        class="flex justify-center items-center w-full mb-[2rem]">
                                                                        <img src="/assets/icons/Image-placeHolder.png"
                                                                            alt="">
                                                                    </div>
                                                                    <div
                                                                        class="flex justify-center items-center w-full gap-[2rem]">
                                                                        <img src="/assets/icons/fi_upload-cloud.png"
                                                                            alt="">
                                                                        <span class="text-[#5570F1] text-[14px]">Upload
                                                                            Image</span>
                                                                    </div>
                                                                </div>

                                                            </div>


                                                            <!-- <input id="files"
                                                                class="bg-[#f1f1f1] w-full h-full hidden  outline-none p-[1.5rem] rounded-[4px] border-none shadow-none bg-transparent"
                                                                type="file" placeholder="mail@simmmple.com"
                                                                name="image2" formControlName="image2"> -->
                                                            <!-- <input
                                                                class="bg-[#f1f1f1] w-full h-full hidden  outline-none p-[1.5rem] rounded-[4px] border-none shadow-none bg-transparent"
                                                                type="file"
                                                                required> -->
                                                        </label>
                                                    </div>
                                                    <input type="text" placeholder="Value"
                                                        class="bg-[#f1f1f1] h-full outline-none p-[1.5rem] rounded-[4px]">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="flex items-center justify-end p-6 rounded-b">
            </div> -->
        </div>
    </div>


</div>