<div class="w-full h-fit bg-[#fff]">
    <div class="grid gap-[2rem] m-auto w-[80%] p-[2rem]">
        <div *ngFor="let productLike of productLikes" class="flex justify-between shadow-md p-[2rem] rounded-sm">
            <div class="flex gap-[2rem]">
                <div class="w-[100px]">
                    <!-- <img src="/assets/images/Rectangle 60.png" alt=""> -->
                    <img [src]="'data:image/png;base64,' + productLike.productImage" alt="product image">
                </div>
                <div class="flex justify-between flex-col">
                    <p>{{productLike.name}}</p>
                    <p class="font-extrabold text-[16px]">N{{productLike.amount}}</p>
                </div>
            </div>
            <div class="grid gap-[1rem]">
                <div *ngIf="!productLike.outOfStock" class="bg-[#666666] p-[1rem] h-[40px] text-[#fff] cursor-pointer">BUY NOW</div>
                <div *ngIf="productLike.outOfStock" class="bg-[#666666] p-[1rem] h-[40px] text-[#fff] cursor-pointer">Out Of Stock</div>
                <div class="flex gap-[2rem]">
                    <div class="cursor-pointer">
                        <img (click)="addCount(productLike.productId)" src="/assets/icons/Cart.png" alt="cart">
                    </div>
                    <div class="cursor-pointer">
                        <img (click)="removeLikes(productLike.productId)" src="/assets/icons/Delete.png" alt="">
                    </div>
                </div>


            </div>
        </div>

        <div class="flex justify-end">

            <div class="mt-[4rem] bg-[#fff] flex  p-[1rem] justify-end">
                <div class="flex items-center gap-[2rem]">
                    <div class="p-[1rem] py-[0.5rem] flex items-center bg-[#fff] rounded-[12px]">
                        <span class="whitespace-nowrap">Rows per page: </span>
                        <select (change)="getSize(pageRequest.size)"
                                [(ngModel)]="pageRequest.size"
                            class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            <option value=5 selected>5</option>
                            <option value=10>10</option>
                        </select>
                    </div>
                    <div>
                        {{pageRequest.page + 1}} - {{numOfPage()}} of {{totalNumberOfLikes}}
                    </div>
                    <div class="flex justify-end gap-[2rem] md:mr-[2rem]">
                        <div class="p-[1rem] py-[0.5rem] rounded-[4px]">
                            <i (click)="previousPage()" class="fa fa-arrow-left" aria-hidden="true"></i>
                        </div>
                        <div class="p-[1rem] py-[0.5rem] rounded-[4px]">
                            <i (click)="nextPage()" class="fa fa-arrow-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>