<footer class="w-100 pt-8 pb-16 bg-black text-white">
    <div class="container custom-wrapper">
        <div class="row content">
            <div class="col-md-2 mt-5">
                <img src="assets/images/Stitch.png" alt="Stitch Logo" class="h-15 w-15 mr-2 filter invert">
                <p class="mt-2">Follow us on</p>
                <div class="flex mt-2">
                    <img src="assets/images/facebook.png" alt="Facebook" class="h-6 w-6 mr-2 filter invert">
                    <img src="assets/images/twitter.png" alt="Twitter" class="h-6 w-6 mr-2 filter invert">
                    <img src="assets/images/instagram.png" alt="Instagram" class="h-6 w-6 filter invert">
                </div>
            </div>
            
            <div class="col-md-10 list-items mt-5">
                <div class="row list-items">
                    <div class="col-md-3 main-wrapper">
                        <div class="main-categories-title mx-3 leading-8">Main</div>
                        <ul class="mx-3 my-5">
                            <li class="my-2">Home</li>
                            <li class="my-2">About</li>
                            <li class="my-2">Categories</li>
                            <li class="my-2">Categories</li>
                            <li class="my-2">About Us</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <div class="main-categories-title mx-3 leading-8">Categories</div>
                        <div class="flexed-lists">
                            <ul class="mx-3 my-5">
                                <li class="my-2">Natives</li>
                                <li class="my-2">Casuals</li>
                                <li class="my-2">Corporate</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="main-categories-title mx-3 leading-8">Account</div>
                        <div class="account-categories">
                            <ul class="mx-3 my-5">
                                <li class="my-2">Profile</li>
                                <li class="my-2">Orders</li>
                                <li class="my-2">Measurement</li>
                                <li class="my-2">Login & security</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="main-categories-title mx-3 leading-8">Business</div>
                        <div class="flexed-lists">
                            <ul class="mx-3 my-5">
                                <li class="my-2">Create a Tailor's Account</li>
                                <li class="my-2">Our policies</li>
                                <li class="my-2">Complaints</li>
                                <li class="my-2">Refund</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-16" />
        <div class="newsletter-container flex justify-between">
            <div class="flex justify-between">
                <h4 class="newsletter-title">Contact us</h4>
                <p class="newsletter-description mr-4">help@stitch.com</p>
                <p class="newsletter-description mr-4">+2345566789</p>
            </div>
            <button class="bg-[#EAEBF4] text-black px-4 py-2 rounded-full w-[500px] h-[40px]">Subscribe to our newsletter</button>
        </div>
        <div class="flex items-center justify-center mt-8">
            <span>&copy; 2023 Stitch Copyright.</span>
            <span class="mx-4">All rights reserved</span>
            <a href="#" class="mx-4">Privacy Policy</a>
            <a href="#" class="mx-4">Terms of Use</a>
        </div>
    </div>
</footer>
